/* table.css */

th,
td {
  padding: var(--space-1) var(--space-2); /* --space-1 and --space-2 are defined in basscss-padding*/
  text-align: left;
  border-bottom: 1px solid black; }
th:first-child,
td:first-child {
  padding-left: 0; }
th:last-child,
td:last-child {
    padding-right: 0; }

/* :root { */
/*     --space-1: .5rem; */
/*     --space-2: 1rem; */
/*     --space-3: 2rem; */
/*     --space-4: 4rem; */
/* } */
