<% if (isRoot) { %>
    <div class="wrap">
        <header class="center max-width-3 mx-auto">

            <h1>
                Hooks <span>Crane Service</span>
            </h1>

            <a class="btn" href="/scheduler.html">Schedule Now</a>
        </header>
    </div>
<% } %>
