<!DOCTYPE html>
<html lang="en">
    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="<%= description %>">
        <meta name="author" content="John Hooks">
        <meta name="google-site-verification"
              content="z9C4ax8RVA32m2HLESQKTdwvpcId5qRS1b6LWUjrfTo" />

        <title>
            <% if (title) { %>
                <%= title %> - Hooks Crane Service - Richland, WA
            <% } else { %>
                Hooks Crane Service - Richland, WA
            <% } %>
        </title>

        <!-- <script>
             (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
             (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
             m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
             })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

             ga('create', 'UA-56085589-1', 'auto');
             ga('send', 'pageview');
             </script> -->

        <!-- Fonts -->
        <link href='http://fonts.googleapis.com/css?family=Montserrat:700'
              rel='stylesheet'>
        <link href="https://fonts.googleapis.com/css?family=Open+Sans"
              rel="stylesheet">

        <!-- Need to add 'company' as keyword -->

        <link href="/style.css" rel="stylesheet">

        <script src="main.js"></script>

    </head>
    <body>

        <div id="root" class="px3">

            <header class="max-width-3 mx-auto">

                <% if (isRoot) { %>

                    <h1 class="main-header my4">
                         Hooks Crane Service
                    </h1>

                    <p class="center">
                        <a class="btn" href="/scheduler.html">Schedule Now</a>
                    </p>

                <% } %>


                <nav class="center">

                    <ul class="list-reset my2">

                        <li class="h3 inline-block mr1">
                            <a href="/">Home</a>
                        </li>

                        <li class="h3 inline-block mr1">
                            <a href="/cranes">Cranes</a>
                        </li>

                        <li class="h3 inline-block mr1">
                            <a href="/scheduler">Scheduler</a>
                        </li>

                        <li class="h3 inline-block mr1">
                            <a href="/lift">Lift Planner</a>
                        </li>

                    </ul>

                </nav>

            </header>

            <main class="max-width-3 mx-auto mb4">
