<nav class="caps bold center px3 mb4 max-width-3 mx-auto">

    <ul class="list-reset pt2">

        <!-- <li class="h4 inline-block mr1 mb2">
             <a href="/">Home</a>
             </li> -->

        <li class="h4 inline-block mr1 mb2">
            <a href="/#cranes">Cranes</a>
        </li>

        <li class="h4 inline-block mr1 mb2">
            <a href="/#contact">Contact</a>
        </li>

        <li class="h4 inline-block mr1 mb2">
            <a href="/scheduler">Scheduler</a>
        </li>

        <li class="h4 inline-block mr1 mb2">
            <a href="/lift">Lift Planner</a>
        </li>

    </ul>

</nav>
