<!DOCTYPE html>
<html lang="en">

    <%- include('head') %>

    <body>

        <div id="root">

            <%- include('header') %>

            <%- include('nav') %>

            <main class="px3 mb4 max-width-3 mx-auto">

                <section class="mb4">

                    <h2 class="h1 center mb3">
                        Operated Crane Rental
                    </h2>

                    <p class="text-primary justify line-height-4">
                        Hooks Crane Service has proudly served South&shy;eastern
                        Wash&shy;ington since 1977. Owner operated and NCCCO
                        cert&shy;ified, we are committed to safe crane
                        operation. Our project experience includes: steel
                        erection, cellular towers, trusses, roofing, and
                        radiolocial work at the DOE Hanford Site.
                        Call today to schedule an upcoming project.
                    </p>

                </section>

                <section itemscope
                         itemtype="http://schema.org/LocalBusiness"
                         id="contact" class="clearfix mb4">

                    <h2 class="h1 center mb3">
                        Contact Information
                    </h2>

                    <div class="sm-col sm-col-6">

                        <div class="center pb2">
                            <a href="/message" role="button" class="btn">
                                Send Email
                            </a>
                        </div>

                        <h3 class="center">
                            Phone Numbers
                        </h3>

                        <table class="table full-width contact">

                            <tbody>

                                <tr>
                                    <tr itemprop="contactPoint"
                                        itemscope
                                        itemtype="http://schema.org/ContactPoint">
                                        <td class="right-align">
                                            <span itemprop="telephone">+1 (509) 528-2520</span>
                                        </td>
                                        <td>
                                            <span itemprop="name">John Hooks</span>
                                            <span itemprop="contactType"
                                                  content="Sales">
                                            </span>
                                        </td>
                                    </tr>
                                </tr>

                                <tr>
                                    <td class="right-align">
                                        <span itemprop="telephone">
                                            +1 (509) 547-5852
                                        </span>
                                    </td>
                                    <td>
                                        Office
                                    </td>
                                </tr>

                            </tbody>

                            <span itemprop="url"
                                  content="http://www.hookscrane.com">
                            </span>

                        </table>

                    </div>

                    <div class="sm-col sm-col-6">

                        <h3 class="center mt0">
                            Mailing Address
                        </h3>

                        <p class="center line-height-4">
                            Hooks Crane Service<br>
                            PO BOX 2834<br>
                            Pasco WA, 99302
                        </p>

                        <h3 class="center">
                            Physical Address
                        </h3>

                        <p class="center line-height-4">
                            <span itemprop="name">
                                Hooks Crane Service
                            </span>
                            <span itemprop="address"
                                  itemscope
                                  itemtype="http://schema.org/PostalAddress">
                                <span itemprop="streetAddress">
                                    2989 Kingsgate Way
                                </span>
                                <br>
                                <span itemprop="addressLocality">
                                    Richland
                                </span>, <span itemprop="addressRegion">
                                    WA
                                </span> <span itemprop="postalCode">
                                    99354
                                </span>
                                <br>
                            </span>
                        </p>

                    </div>

                </section>

                <section id="cranes" class="mb4">

                    <h2 class="h1 center mb3">
                        Crane Information
                    </h2>

                    <table class="table full-width cranes">

                        <thead>

                            <tr>
                                <th></th>
                                <th>Grove TMS375LP</th>
                                <th>Link-Belt HTC8860</th>

                            </tr>

                        </thead>

                        <tbody>

                            <tr>
                                <th>Capacity</th>
                                <td>45 Ton</td>
                                <td>60 Ton</td>
                            </tr>

                            <tr>
                                <th>Boom</th>
                                <td>89'</td>
                                <td>110'</td>
                            </tr>

                            <tr>
                                <th>Boom + Jib</th>
                                <td>125'</td>
                                <td>160'</td>
                            </tr>

                            <tr>
                                <th>Specs & Chart</th>
                                <td>
                                    <a href="/pdfs/23098_spec.pdf"
                                       target="_blank">
                                        pdf
                                    </a>
                                </td>
                                <td>
                                    <a href="/pdfs/L8_spec.pdf"
                                       target="_blank">
                                        pdf
                                    </a>
                                </td>
                            </tr>

                            <tr>
                                <th>Annual Inspection</th>
                                <td>
                                    <a href="/message?inpection=grove">
                                        Request
                                    </a>
                                </td>
                                <td>
                                    <a href="/message?inpection=linkbelt">
                                        Request
                                    </a>
                                </td>
                            </tr>

                        </tbody>

                    </table>

                </section>

                <section class="mb4">

                    <h2 class="h1 center mb3">
                        Work Radius
                    </h2>

                    <p class="center line-height-4">
                        We will gladly travel to projects in the following
                        locations in Washington:
                    </p>

                    <ul class="locations list-reset center">

                        <li>Pasco</li>
                        <li>Richland</li>
                        <li>Kennewick</li>
                        <li>Burbank</li>
                        <li>Benton City</li>
                        <li>Hanford</li>
                        <li>Connell</li>
                        <li>Prosser</li>
                        <li>Grandview</li>
                        <li>Sunnyside</li>
                        <li>Othello</li>
                        <li>Royal City</li>
                        <li>Paterson</li>
                        <li>Walla Walla</li>
                    </ul>

                </section>
            </main>

            <%- include('footer') %>

        </div>

    </body>

</html>
