@import "normalize.css"

body {
    font-family: var(--font-family);
    font-weight: var(--font-weight);
}

h1, h2, h3, h4, h5, h6 {
  font-weight: var(--bold-font-weight);
}

:root {
    --font-family: 'Montserrat', sans-serif;
    --regular-font-weight: 400;
    --bold-font-weight: 700;
}
