<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="{{description}}">
        <meta name="author" content="John Hooks">
        <meta name="google-site-verification" content="z9C4ax8RVA32m2HLESQKTdwvpcId5qRS1b6LWUjrfTo" />

        <title>{{title}}</title>

        <script>
         (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
             (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                                  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
         })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

         ga('create', 'UA-56085589-1', 'auto');
         ga('send', 'pageview');
        </script>
        
        <!-- Vendor CSS -->
        <link rel="stylesheet" href="normalize.css">
        
        <!-- My CSS -->
        <link rel="stylesheet" href="main.css">

        <!-- Fonts -->
        <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
        <!-- Need to add 'company' as keyword -->
    </head>
    
    <body>
        <!-- Root -->
        <div id="root">
            
            <!-- Navbar -->
            <nav>
                {{>navbar}}
            </nav><!-- End Navbar -->

            <!-- Main -->
            <div id="main">
                {{>page}}
            </div><!-- End Main -->

            <!-- Footer -->
            <footer>
                {{>footer}}
            </footer><!-- End Footer -->
            
        </div><!-- End Root -->
        
        <script src="main.bundle.js"></script>
        
    </body>
</html>
