<h1>
    Hooks Crane Service
</h1>
<h2>
    Operated Crane Rental
</h2>
<div>
    <p>
        We proudly serve Southeastern Washington with 45 and 60 ton
        cranes. Owner operated and NCCCO certified, we are committed
        to safe crane operation.
    </p>
    <p><a href="/schedule.html">Schedule Now</a></p>
</div>
